# Manuscript in progress
z_update_slides/
z_update_manuscript/
z_update_figures/

# Python
__pycache__/
*.py[cod]
*$py.class

# R
.Rhistory
.Rapp.history
.RData

# Mac generated resource fork files
._*
~$*

# Cache & data
/cache/
/*_cache/
/write/
*.loom
*.hdf5
*.feathre
*.h5ad

# Seperated GSEA outputs
*/1_Scanpy/*/3_GSEA/*_sep/

# Other large files
*XL_file*
*XL_folder*
