# Python
__pycache__/
*.py[cod]
*$py.class

# R
.Rhistory
.Rapp.history
.RData

# Mac generated resource fork files
._*

# Cache & data
/cache/
/*_cache/
/write/
*.loom
*.hdf5
*.feathre
*.h5ad


# Other large files
*XL_file*
*XL_folder*
/0_Acute-Chronic/1_Scanpy/0_Scanpy_out_resampled/3_GSEA/*_sep/
/0_Acute-Chronic/1_Scanpy/0_Scanpy_out_resampled/3_GSEA/cell_type_sep/
